/* Algemene reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  width: 100%;
  background-color: #ffffff; /* Lichte achtergrondkleur */
  color: #333; /* Donkere tekstkleur */
  line-height: 1.6;
}

/* Main styling */
main {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #ffffff; /* Witte achtergrond voor main */
  border-radius: 8px;

}

/* Header styling */
header {
  background: #ffffff;
  padding: 20px;
  display: flex; 
  align-items: center; 
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

.logo {
  max-width: 200px; 
  height: auto;
  margin: 0 auto; 
}

nav {
  display: flex; 
  gap: 15px; 
  position: absolute; 
  left: 20px;
}

nav a {
  color: #2d2820; 
  padding: 10px 0;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  color: #e7a014;
}

.main-content {
  text-align: center; 
}


/* Project sections */
.project-section {
  text-align: center;
  margin-bottom: 40px;
}

.project-section h1 {
  font-size: 2em;
  color: #b99d7b; /* Oranje kleur */
  margin-bottom: 10px;
}

.project-section p {
  font-size: 1.1em;
  color: #555; /* Donkergrijs voor tekst */
}

.project-item {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9; /* Lichte achtergrondkle*/

  border-radius: 8px;
  display: flex;
  align-items: center;

}

.project-item img {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 8px;
}

.project-item h2 {
  font-size: 1.5em;
  color: #b99d7b; /* Oranje kleur */
  margin-bottom: 10px;
}

.project-item p {
  margin-left: 5px;
  font-size: 1em;
  color: #555; /* Donkergrijs voor tekst */
  margin-bottom: 15px;
}

.project-item .cta-button {
  background: #979797; /* Oranje achtergrondkleur */
  color: #fff; /* Witte tekstkleur */
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0 .3s;
}

.project-item .cta-button:hover {
  background: #e7a014; /* Donkerder oranje bij hover */
}

/* Footer styling */
footer {
  text-align: center; 
  margin-top: 40px; 
  font-size: 0.9em;
  background: #fff; 
  padding: 10px;
  position: relative; 
  width: 100%; 
}

/* Media queries */
@media (max-width: 768px) {
  .project-item {
    flex-direction: column;
    text-align: center;
  }

  .project-item img {
    margin: 0 0 15px;
    max-width: 100%;
  }

  header nav a {
    font-size: 1em;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .phone-line {
    flex-direction: column;
    text-align: center;
  }

  .phone-line .contact-button {
    margin-top: 10px;
  }

  .project-section h1 {
    font-size: 1.5em;
  }

  .project-item h2 {
    font-size: 1.2em;
  }
}