/* Algemene reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  width: 100%;
  background-color: #ffffff; /* Lichte achtergrondkleur */
  color: #333; /* Donkere tekstkleur */
  line-height: 1.6;
}

/* Main styling */
main {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #ffffff; /* Witte achtergrond voor main */
  border-radius: 8px;

}

/* Header styling */
header {
  background: #ffffff;
  padding: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

.logo {
  max-width: 200px; 
  height: auto;
  margin: 0 auto; 
}

/* nav elementen */
nav {
  position: absolute; /* Dit zorgt ervoor dat de navigatie niet de uitlijning van het logo beïnvloedt */
  left: 20px;
  display: flex; 
  gap: 15px; 
}

nav a {
  color: #2d2820; 
  padding: 10px 0;
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Montreal', sans-serif;
  position: relative; /* Zorg ervoor dat de onderlijn goed gepositioneerd kan worden */
}

nav a::after {
  content: '';
  display: block;
  height: 2px; /* Dikte van de onderlijn */
  background: #e7a014; /* Kleur van de onderlijn */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* Plaats de onderlijn onder de tekst */
  transform: scaleX(0); /* Begin met een schaal van 0 (niet zichtbaar) */
  transition: transform 0.3s ease; /* Animatie voor de onderlijn */
}

nav a:hover::after,
nav.scrolled a::after {
  transform: scaleX(1); /* Maak de onderlijn zichtbaar */
}

nav.scrolled a:hover {
  color: #e7a014;
  text-decoration: underline;
  text-underline-offset: 0; /* Zet dit op 0 om de onderlijn direct onder de tekst te houden */
}

.main-content {
  text-align: center; 
}


/* Project sections */
.project-section {
  text-align: center;
  margin-bottom: 40px;
}

.project-section h1 {
  font-size: 2em;
  color: #b99d7b; /* Oranje kleur */
  margin-bottom: 10px;
}

.project-section p {
  font-size: 1.1em;
  color: #555; /* Donkergrijs voor tekst */
}

.project-item {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  /* Lichte achtergrondkleur */
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  /* Zorg ervoor dat de afbeelding en tekst goed zijn uitgelijnd */
  flex-direction: column; /* Zorg ervoor dat de elementen onder elkaar staan */
  align-items: center; /* Centreer de elementen */
  text-align: center; /* Centreer de tekst */

}
.project-item p {
  margin: 15px;
}

.project-content {
  display: flex;
  /* Zorg ervoor dat de afbeelding en de knop naast elkaar staan */
  align-items: center;
  /* Centreer de items verticaal */
}

.project-item img {
  max-width: 150px;
  /* Zorg ervoor dat de afbeelding niet te groot is */
  margin-right: 20px;
  /* Voeg ruimte toe tussen de afbeelding en de tekst */
  border-radius: 8px;
  max-width: 60%; /* Zorg ervoor dat de afbeelding responsief is */
  margin-bottom: 10px;
}

.cta-container {
  margin-top: 10px;
  /* Voeg ruimte toe boven de knop */
}

.project-item .cta-button {
  background: #cccccc;
  /* Grijze achtergrondkleur voor de knop */
  color: #333;
  /* Donkere tekstkleur */
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  display: inline-block;
  /* Zorg ervoor dat de knop zich gedraagt als een inline-block */
}

.project-item .cta-button:hover {
  background: #b3b3b3;
  /* Donkerder grijze kleur bij hover */
}

/* Footer styling */
footer {
  text-align: center; 
  margin-top: 40px; 
  font-size: 0.9em;
  background: #fff; 
  padding: 10px;
  position: relative; 
  width: 100%; 
}





.hamburger {
  display: none; 
  font-size: 30px; 
  cursor: pointer; 
}

/* Dropdown inhoud (verborgen standaard) */
.dropdown-content {
  display: none; 
  flex-direction: column; 
  position: absolute; 
  background-color: #ffffff; 
  min-width: 160px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #2d2820; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e7a014; 
  color: #f2f2f2;
}

.nav-links {
  display: flex; 
  gap: 15px; 
}




/* Media query voor tablets */
@media (max-width: 768px) {

nav a {
  font-size: 1.2em; 
  margin: 0 15px; 
}

.mobile-image {
  display: block; 
  max-width: 100%; 
  height: auto; 
}

.hamburger {
  display: block; 
}

.nav-links {
  display: none; 
}

.dropdown-content {
  margin-left: -20px;
  margin-top: 40px; 
}

.project-item {
  flex-direction: column; /* Zorg ervoor dat de elementen onder elkaar staan */
  align-items: center; /* Centreer de elementen */
  text-align: center; /* Centreer de tekst */
}

.project-item img {
  max-width: 100%; /* Zorg ervoor dat de afbeelding responsief is */
  margin-bottom: 10px; /* Voeg wat ruimte toe onder de afbeelding */
}

.cta-container {
  margin-top: 10px; /* Voeg wat ruimte toe boven de button */
}
}

/* Media query voor smartphones */
@media (max-width: 480px) {



nav {
  flex-direction: column; 
  align-items: center; 
}


footer {
  font-size: 0.8em; 
}

.desktop-image {
  display: none; 
}

.mobile-image {
  display: block; 
  max-width: 100%; 
  height: auto; 
}

.hamburger {
  display: block; 
}

.nav-links {
  display: none; 
}


.dropdown-content {
  margin-left: 90px;
  margin-top: 40px; 
}


.project-item {
  flex-direction: column; /* Zorg ervoor dat de elementen onder elkaar staan */
  align-items: center; /* Centreer de elementen */
  text-align: center; /* Centreer de tekst */
}

.project-item img {
  max-width: 100%; /* Zorg ervoor dat de afbeelding responsief is */
  margin-bottom: 10px; /* Voeg wat ruimte toe onder de afbeelding */
}

.cta-container {
  margin-top: 10px; /* Voeg wat ruimte toe boven de button */
}
}