/* Algemene reset voor marges en padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

main {
  margin: 0; /* Verwijder marges van main */
  padding: 0; /* Verwijder padding van main */
  width: 100%; /* Zorg ervoor dat de main de volledige breedte gebruikt */
}

html, body {
  margin: 0;     /* Verwijder marges van html en body */
  padding: 0;    /* Verwijder padding van html en body */
  width: 100%;   /* Zorg ervoor dat de body de volledige breedte gebruxsikt */
  
}

header {
  background: #ffffff;
  padding: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

.logo {
  max-width: 200px; 
  height: auto;
  margin: 0 auto; 
}

nav {
  position: absolute; /* Dit zorgt ervoor dat de navigatie niet de uitlijning van het logo beïnvloedt */
  left: 20px;
  display: flex; 
  gap: 15px; 
}

nav a {
  color: #2d2820; /* Zwarte tekstkleur voor navigatie */
  padding: 10px 0px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  color: #e7a014;
}
  
  h1 {
    font-size: 2em;
    margin-top: 10px;
  }
  
  
  /* Contact Sectie styling */
  #contact {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    /* background-image: url("../images/background.png"); */
    border-radius: 8px;
  }
  
  h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Formulier styling */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form label {
    font-size: 1em;
    color: #333;
  }
  
  form input, form textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  form textarea {
    padding-bottom: 70px;
  }
  
  form button {
    padding: 10px 15px;
    background-color: #444;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #666;
  }
  
  /* Footer styling */
  footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
  }
  
  footer a:hover {
    text-decoration: underline;
  }





  .hamburger {
    display: none; 
    font-size: 30px; 
    cursor: pointer; 
  }
  
  /* Dropdown inhoud (verborgen standaard) */
  .dropdown-content {
    display: none; 
    flex-direction: column; 
    position: absolute; 
    background-color: #ffffff; 
    min-width: 160px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #2d2820; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #e7a014; 
    color: #f2f2f2;
  }
  
  .nav-links {
    display: flex; 
    gap: 15px; 
  }




  /* Media query voor tablets */
@media (max-width: 768px) {

  nav a {
    font-size: 1.2em; 
    margin: 0 15px; 
  }

  .mobile-image {
    display: block; 
    max-width: 100%; 
    height: auto; 
  }

  .hamburger {
    display: block; 
  }

  .nav-links {
    display: none; 
  }

  .dropdown-content {
    margin-left: -20px;
    margin-top: 40px; 
  }
}

/* Media query voor smartphones */
@media (max-width: 480px) {
  .diensten-grid {
    grid-template-columns: 1fr; 
  }

  header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .logo {
    margin-bottom: 10px; 
  }

  nav {
    flex-direction: column; 
    align-items: center; 
  }


  footer {
    font-size: 0.8em; 
  }

  .desktop-image {
    display: none; 
  }

  .mobile-image {
    display: block; 
    max-width: 100%; 
    height: auto; 
  }

  .hamburger {
    display: block; 
  }

  .nav-links {
    display: none; 
  }


  .dropdown-content {
    margin-left: 90px;
    margin-top: 40px; 
  }
}