* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  width: 100%;
  background-color: #ffffff; 
  color: #333; 
  line-height: 1.6;
}

main {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #ffffff; 
  border-radius: 8px;

}

header {
  background: #ffffff;
  padding: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

.logo {
  max-width: 200px; 
  height: auto;
  margin: 0 auto; 
}


nav {
  position: absolute; /* Dit zorgt ervoor dat de navigatie niet de uitlijning van het logo beïnvloedt */
  left: 20px;
  display: flex; 
  gap: 15px; 
}

nav a {
  color: #2d2820; 
  padding: 10px 0;
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Montreal', sans-serif;
  position: relative; 
}

nav a::after {
  content: '';
  display: block;
  height: 2px; /* Dikte onderlijn */
  background: #b99d7b; 
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; 
  transform: scaleX(0); 
  transition: transform 0.3s ease; /* Animatie voor de onderlijn */
}

nav a:hover::after,
nav.scrolled a::after {
  transform: scaleX(1); /* Maak de onderlijn zichtbaar */
}

nav.scrolled a:hover {
  /* color: #e7a014; */
  color: #b99d7b;
  text-decoration: underline;
  text-underline-offset: 0; /* Zet dit op 0 om de onderlijn direct onder de tekst te houden */
}

.main-content {
  text-align: center; 
}



.project-section {
  text-align: center;
  margin-bottom: 40px;
}

.project-section h1 {
  font-size: 2em;
  color: #b99d7b; 
  margin-bottom: 10px;
}

.project-section p {
  font-size: 1.1em;
  color: #555; 
  
}

.project-item {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 

}
.project-item p {
  margin: 15px;
}

.project-content {
  display: flex;
  align-items: center;
}

.project-item img {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 8px;
  max-width: 60%; 
  margin-bottom: 10px;
}

.cta-container {
  margin-top: 10px;
}

.project-item .cta-button {
  background: #cccccc;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  display: inline-block;
}

.project-item .cta-button:hover {
  background: #b3b3b3;
}

footer {
  text-align: center; 
  margin-top: 40px; 
  font-size: 0.9em;
  background: #fff; 
  padding: 10px;
  position: relative; 
  width: 100%; 
}





.hamburger {
  display: none; 
  font-size: 30px; 
  cursor: pointer; 
}

.dropdown-content {
  display: none; 
  flex-direction: column; 
  position: absolute; 
  background-color: #ffffff; 
  min-width: 160px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-bottom: 5px;
}

.dropdown-content a {
  color: #2d2820; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {
  background-color: #e7a014; 
  color: #f2f2f2;
} */

.nav-links {
  display: flex; 
  gap: 15px; 
}





@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}




/* Media query voor tablets */
@media (max-width: 768px) {

nav a {
  font-size: 1.2em; 
  margin: 0 15px; 
}

.mobile-image {
  display: block; 
  max-width: 100%; 
  height: auto; 
}

.hamburger {
  display: block; 
}

.nav-links {
  display: none; 
}

.dropdown-content {
  margin-left: -20px;
  margin-top: 40px; 
}

.project-item {
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.project-item img {
  max-width: 100%; 
  margin-bottom: 10px; 
}

.cta-container {
  margin-top: 10px; 
}
}

@media (max-width: 480px) {



nav {
  flex-direction: column; 
  align-items: center; 
}


footer {
  font-size: 0.8em; 
}

.desktop-image {
  display: none; 
}

.mobile-image {
  display: block; 
  max-width: 100%; 
  height: auto; 
}

.hamburger {
  display: block; 
}

.nav-links {
  display: none; 
}


.dropdown-content {
  margin-left: 90px;
  margin-top: 40px; 
}


.project-item {
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.project-item img {
  max-width: 100%; 
  margin-bottom: 10px; 
}

.cta-container {
  margin-top: 10px; 
}
}